<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0 //EN"
"http://mybatis.opg/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.monkey.coffee.mapper.BoardMapper">
	<select id="getBoardList" resultType="BoardVO">
		SELECT * FROM BOARD ORDER BY IDX DESC
	</select>
	<insert id="insertBoard" parameterType="BoardVO">
		INSERT INTO BOARD(IDX, TITLE, CONTENTS, CREATION_USERID)
		VALUES (seq_board.NEXTVAL, #{title}, #{contents}, #{creation_userid})
	</insert>
</mapper>