<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0 //EN"
"http://mybatis.opg/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.monkey.coffee.mapper.UserMapper">
	<select id="searchUserID" resultType="UserVO">
		SELECT * FROM MEMBER WHERE
		id = #{id}
	</select>
	<select id="userLogin" resultType="UserVO">
		SELECT * FROM MEMBER WHERE
		id = #{id}
		AND pw = #{pw}
	</select>
	<insert id="insertUser" parameterType="UserVO">
		INSERT INTO MEMBER VALUES(
			#{id}, 
			#{pw}, 
			#{name},
			#{gender},
			#{address}
		)
	</insert>
</mapper>