<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0 //EN"
"http://mybatis.opg/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.monkey.coffee.mapper.UserMapper">

	<select id="searchUsersAll" resultType="UserVO">
		SELECT * FROM MEMBER
	</select>

	<select id="searchUserID" resultType="UserVO">
		SELECT * FROM MEMBER WHERE
		id = #{id}
	</select>

	<select id="searchUserName" resultType="UserVO">
		SELECT * FROM MEMBER
		WHERE
		name = #{name}
	</select>

	<select id="searchUser" resultType="UserVO">
		SELECT * FROM
		MEMBER WHERE
		LOWER(${searchType}) = #{keyword}
	</select>
	
	<!-- 
		#{data} = 'abcd'
		${data} = abcd
		
		#을 붙이면 자동으로 작은 따움표가 붙는다.
		만약 문자열로 처리하면 안되는 부분은 큰 따움표를 붙여야함.
		
		LOWER: 다 소문자로 바꾸어 정렬해줌.
	 -->
	<select id="searchUserSort" resultType="UserVO">
		SELECT * FROM MEMBER ORDER BY LOWER(${toSort}) ${formatSort}
	</select>

	<select id="userLogin" resultType="UserVO">
		SELECT * FROM MEMBER WHERE
		id = #{id} AND pw = #{pw}
	</select>

	<!-- 만약 해당 컴퓨터에 시퀀스가 없다면 정해줘야하는데 꼬일것같으니 그냥 시퀀스 없이 돌리셈. -->
	<insert id="insertUser" parameterType="UserVO">
		INSERT INTO MEMBER(MEMBER_IDX,
		id, pw, name, gender, address) VALUES(
		seq_member.nextval,
		#{id},
		#{pw},
		#{name},
		#{gender},
		#{address}
		)
	</insert>
</mapper>